body {
    background-color: black;
}

.hero-block {
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    color: white;
    padding: 5px;
}

.piashka {
    color: #81ff00;
}

.vses {
    color: white;
    text-align: center;
}

.stalkertwo {
    text-align: center;
}

.boy-btn {
    background-image: url(завантаження.jfif);
    padding: 20px;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 20px;
}

.roll-btn {
    background-image: url(images 8.jfif);
    padding: 20px;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.stra-btn {
    background-image: url(2704493-2867926398-98e52.jpg);
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 20px;
}

.go-btn {
    background-image: url(images 67.jfif);
    background-position: left;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.horror-btn {
    background-image: url(0-1-780x439.jpg);
    padding: 20px;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 20px;
}

h1 {
    color: white;
    text-align: center;
}

.warfake-btn {
    background-image: url(news_Linx_com.jpg);
    padding: 20px;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 20px;
}

.dotafake-btn {
    background-image: url(dota2_social.jpg);
    padding: 30px;
    background-position: top;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.pubgfake-btn {
    background-image: url(heeeeeader.jpg);
    padding: 20px;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 20px;
    color: white;
}

.forzaaa-btn {
    background-image: url(Forza-Horizon-6-white-hero-desktop-01-en-17mar26.webp);
    padding: 20px;
    background-position: center;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 20px;
}

.popular {
    margin-top: 90px;
    margin-bottom: 90px;
}

.wow {
    margin-bottom: 50px;
}

.my {
    margin-bottom: 50px;
}

footer {
    padding: 30px;
    background-color: #404040;
    color: white;
    text-align: left;
}

.theend {
    margin-top: 100px;
}